body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, #333, #111);
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    padding: 4vh 0;
    font-size: 4vw;
    color: #f0f0f0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 20px;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3vh;
    width: 100%;
}

.tab {
    flex: 1;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: #444;
    color: #f0f0f0;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;
}

.tab:hover, .tab.active {
    background-color: #666;
    color: #80b3ff;
    font-weight: bold;
}

.content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.3s ease;
    padding: 20px;
    width: 90%;
    max-width: 800px;
}

.content.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

button {
    padding: 12px 24px;
    font-size: 14px;
    background: #444;
    color: #f0f0f0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#chatbox {
    border: 1px solid #444;
    padding: 10px;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
    background-color: #222;
}

#chatlogs {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.chat-bubble {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.user-message {
    background-color: #444;
    color: #fff;
    align-self: flex-end;
}

.ai-message {
    background-color: #333;
    color: #80b3ff;
}

#userInputContainer {
    display: flex;
    align-items: center;
}

#userInput {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #222;
    color: #f0f0f0;
}

#chatbot button {
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    background-color: #444;
    color: #f0f0f0;
    border: none;
}

.typing-indicator {
    font-style: italic;
    color: #666;
}
